[data-theme="dark"] {
  --primary: rgba(37, 95, 56, 0.9); 
  --secondary: rgba(31, 125, 83, 0.8); 
  --background: #121212; 
  --accent: rgba(39, 57, 28, 0.6);
  --text-light: #FFFFFF;
  --border-color: #1f7d53;
  --op:rgba(31, 125, 83, 0.2)
}

[data-theme="light"] {
  --primary: rgba(255, 255, 255, 0.6);
  --secondary: rgba(240, 240, 240, 0.7);
  --background: #f8f9fa;
  --accent: rgba(200, 200, 200, 0.5);
  --text-light: #333;
  --border-color: #000000;
  --op:rgba(0, 0, 0, 0.2)
}



.containerr {
    text-align: center;
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
    font-family: monospace;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#h1s {
    color: var(--text-light);
    
}

.input-box {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #255F38;
    border-radius: 5px;
    background-color: #18230F;
    color: white;
}

.start-button {
    background-color: var(--accent);
    color: var(--text-light);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
}

.start-button:hover {
    background-color: #255F38;
}

.start-button:disabled {
    background-color: #255F38;
    cursor: not-allowed;
}
@media (max-width: 768px) {
    .containerr {
      max-width: 90%;
      padding: 15px;
    }
  
    .input-box {
      font-size: 14px;
      padding: 8px;
    }
  
    .start-button {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  