
.dark-background {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px 90px;
  background: #18230F;
  position: relative;
  min-height: 100vh;
  display: flex;
}

.dark-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.register-container {
  background: #27391C;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 480px;
  color:#d9d9d9;
  justify-content: center;
  text-align: center;
  margin-top: -10px;
  animation: fadeIn 1s ease-out;
  position: relative;
  z-index: 2;
}

.s{
  font-size: 2.1rem;
  color: #d9d9d9;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-shadow: 2px 2px 5px #000000;
  font-weight: 700;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
  text-align: left;
}

.form-label {
  font-size: 16px;
  font-weight: 600;
  color: #d9d9d9;
  margin-bottom: 8px;
  display: block;
}

.input-field {
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  color: #1c1c1c;
  font-size: 16px;
  padding: 12px 1px;;
  width: 100%;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.input-field:focus {
  outline: none;
  border-color: #1c1c1c;
  background-color: #d9d9d9;
  box-shadow: 0 0 8px 4px rgba(55, 55, 55, 0.4);
}

.error-message {
  font-size: 14px;
  color: #d9d9d9;
  position: absolute;
  bottom: -18px;
  left: 0;
  font-weight: 600;
}

.submit-btn {
  background-color: #d9d9d9;
  color: #1c1c1c;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 15px;
  text-transform: uppercase;
  width: 100%;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.submit-btn:hover {
  background-color: #d9d9d9;
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2);
  color: #1c1c1c;
}

.submit-btn:active {
  background-color: #1c1c1c;
  transform: translateY(2px);
  box-shadow: 0 4px 12px rgba(61, 56, 56, 0.1);
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@media (max-width: 576px) {
  .register-container {
      padding: 20px;
  }

  h2 {
      font-size: 1.6rem;
  }

  .input-field {
      font-size: 14px;
      padding: 10px;
  }

  .submit-btn {
      font-size: 16px;
      padding: 12px;
  }
}
