[data-theme="dark"] {
    --primary: rgba(37, 95, 56, 0.9); 
    --secondary: rgba(31, 125, 83, 0.8); 
    --background: #121212; 
    --accent: rgba(39, 57, 28, 0.6);
    --text-light: #FFFFFF;
}

[data-theme="light"] {
    --primary: rgba(255, 255, 255, 0.6);
    --secondary: rgba(240, 240, 240, 0.7);
    --background: #f8f9fa;
    --accent: rgba(200, 200, 200, 0.5);
    --text-light: #333;
}

h2,h1,p
{
    color: var(--text-light);
}
.contact-container {
    background: var(--secondary);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 50px;
; 
    
    max-width: 1100px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 2;
}

.contact-bg {
    background: linear-gradient(to bottom, var(--primary), var(--secondary)); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    min-height: 100vh;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), 
                inset -5px -5px 10px rgba(255, 255, 255, 0.7);
}

.btn-primary {
    padding: 14px 24px;
    font-size: 18px;
    border-radius: 30px;
    background: linear-gradient(to right, var(--accent), var(--secondary)); /* Smooth pastel button */
    border: none;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2),
                -5px -5px 15px rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background: linear-gradient(to right,  var(--background), var(--secondary));
    transform: scale(1.05);
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .contactus-bg {
        padding: 20px;
        
    }
    .contactus-container {
        padding: 30px;
        width: 300px;
    }
    h1 {
        font-size: 2.4rem;
    }
    h2 {
        font-size: 2rem;
    }
    .contact-text, .contact-details {
        font-size: 16px;
    }
    .contact-form input, .contact-form textarea {
        font-size: 14px;
    }
} 