@font-face {
  font-family: monospace;
  src: url('./assets/fonts/monospace.woff2') format('woff2'),
       url('./assets/fonts/monospace.woff') format('woff'),
       url('./assets/fonts/monospace.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[data-theme="dark"] {
  --primary: rgba(37, 95, 56, 0.9); 
  --secondary: rgba(31, 125, 83, 0.8); 
  --background: #121212; 
  --accent: rgba(39, 57, 28, 0.6);
  --text-light: #FFFFFF;
  --border-color: #1f7d53;
  --op:rgba(31, 125, 83, 0.2)
}

[data-theme="light"] {
  --primary: rgba(255, 255, 255, 0.6);
  --secondary: rgba(240, 240, 240, 0.7);
  --background: #f8f9fa;
  --accent: rgba(200, 200, 200, 0.5);
  --text-light: #333;
  --border-color: #000000;
  --op:rgba(0, 0, 0, 0.2)
}

body {
  font-family: monospace;
  background-color: var(--background);
  color: var(--text-light);
  margin: 0;
  padding: 0;
  animation: fadeIn 1.5s ease-in-out;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

p{
  color: #FFFFFF;
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }
}
