[data-theme="dark"] {
  --primary: rgba(37, 95, 56, 0.9); 
  --secondary: rgba(31, 125, 83, 0.8); 
  --background: #121212; 
  --accent: rgba(39, 57, 28, 0.6);
  --text-light: #FFFFFF;
}

[data-theme="light"] {
  --primary: rgba(255, 255, 255, 0.6);
  --secondary: rgba(240, 240, 240, 0.7);
  --background: #f8f9fa;
  --accent: rgba(200, 200, 200, 0.5);
  --text-light: #333;
}


#land-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, var(--primary), var(--secondary));

  }
  