[data-theme="dark"] {
  --primary: rgba(37, 95, 56, 0.9); 
  --secondary: rgba(31, 125, 83, 0.8); 
  --background: #121212; 
  --accent: rgba(39, 57, 28, 0.6);
  --text-light: #FFFFFF;
  --bg:rgba(0, 0, 0, 0.6)
}

[data-theme="light"] {
  --primary: rgba(255, 255, 255, 0.6);
  --secondary: rgba(240, 240, 240, 0.7);
  --background: #f8f9fa;
  --accent: rgba(200, 200, 200, 0.5);
  --text-light: #333;
  --bg:rgba(161, 161, 161, 0.3)
}


#land-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: linear-gradient(to bottom, var(--primary), var(--secondary));
  }
  
.land-container {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}


.content-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
}


.hero-content {
 
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-light);
}


.features-container,
.tech-container,
.cta-container {
  padding: 60px 20px;
  border-radius: 10px;
 
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.btn {
  background-color: var(--primary);
  color: var(--text-light);
  padding: 12px 24px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--accent);
  transform: scale(1.05);
}


.features-container .fs-1,
.tech-container .fs-1 {
  color: var(--text-light);
}
@media (max-width: 768px) {
  .hero-content {
    padding: 20px;
    margin-top: 50px;
  }

  .features-container,
  .tech-container,
  .cta-container {
    padding: 40px 15px;
  }

  .btn {
    font-size: 1rem;
    padding: 10px 20px;
  }
}


